:root {
  --white: #ffffff;
  --background: #F3FCE8;
  --primary: #88C2DD;
  --secondary: rgba(136,194,221,0.27);
  --tertiary: #F3D6EC;
  --text: #01385D; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  margin: 0; }

body, p, ul, button {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--text); }

body {
  background: var(--background); }

.wrapper {
  max-width: 1600px;
  margin: 0 auto; }

img {
  max-width: 100%;
  margin: 1em 0; }

a {
  color: var(--text); }
  a:hover, a:focus, a:active {
    color: var(--tertiary); }

.header {
  display: grid;
  grid-gap: 1rem; }
  @media (min-width: 768px) {
    .header {
      grid-template-columns: 2fr 1fr; } }
  .header .top {
    display: flex;
    align-items: center;
    background: url("/images/header.jpg") no-repeat center center/cover;
    padding: 3rem 0;
    grid-row: 1/3; }
    .header .top .heading {
      background: var(--white);
      padding: 1rem; }
      .header .top .heading .social {
        font-size: 1.5em; }
        .header .top .heading .social a {
          color: var(--text);
          transition: .25s ease;
          margin: 0 5px 0 0; }
          .header .top .heading .social a:hover {
            color: var(--primary); }
  .header .right {
    background: url("/images/toetsenbord.jpg") no-repeat top center/cover;
    min-height: 4rem; }
  .header .bottom-right {
    display: flex;
    align-items: center;
    background: var(--primary);
    padding: 1rem;
    grid-row: 3; }
    @media (min-width: 768px) {
      .header .bottom-right {
        grid-row: 2; } }

.about {
  display: grid;
  grid-gap: 1em; }
  @media (min-width: 768px) {
    .about {
      grid-template-columns: 1fr 1fr; } }
  .about .skills {
    background: var(--secondary);
    padding: 1rem; }
  .about .price {
    color: var(--text); }
  .about .list {
    list-style: none;
    padding: 0; }
    .about .list__item {
      padding: 0.5em 0 0 0; }
      .about .list__item::before {
        content: '\f120';
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        font-size: 0.6rem;
        margin: 0 1em;
        opacity: .5; }
  .about .news {
    background: var(--tertiary);
    padding: 1rem; }
    .about .news .article {
      margin: 1rem 0; }
      .about .news .article h3 {
        font-size: 1.5rem; }

.footer {
  background: var(--primary);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .footer .subtitle {
    flex: 1 1 100%; }

.settings {
  position: absolute;
  top: 5px;
  right: 0;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .settings {
      top: 60px; } }
  .settings .label {
    padding: 15px;
    margin-left: -50px;
    background: var(--white);
    align-self: flex-start;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.2); }
    @media (min-width: 768px) {
      .settings .label {
        margin-left: -60px; } }
  .settings .fa-cog {
    transition: color 0.5s ease;
    cursor: pointer;
    font-size: 1.3em; }
    @media (min-width: 768px) {
      .settings .fa-cog {
        font-size: 2em; } }
    .settings .fa-cog:hover {
      color: var(--primary); }
  .settings .options {
    display: none;
    padding: 15px;
    white-space: nowrap; }
    .settings .options h2 {
      margin: 0; }
    .settings .options button {
      display: block;
      border: 0;
      padding: 10px;
      margin: 8px 0;
      width: 100%;
      color: var(--white);
      cursor: pointer;
      transition: all .5s ease-in-out; }
      .settings .options button:focus {
        outline: 0; }
      .settings .options button:first-of-type {
        margin-top: 20px; }
      .settings .options button:last-child {
        margin-bottom: 0; }
      .settings .options button.startrek {
        background: #9999FF;
        border-bottom: 3px solid #8080ff;
        border-left: 3px solid #8080ff; }
        .settings .options button.startrek:hover {
          background: #8080ff; }
      .settings .options button.pastel {
        background: #88C2DD;
        border-bottom: 3px solid #74b8d8;
        border-left: 3px solid #74b8d8; }
        .settings .options button.pastel:hover {
          background: #74b8d8; }
      .settings .options button.monochroom {
        background: #686868;
        border-bottom: 3px solid #595959;
        border-left: 3px solid #595959; }
        .settings .options button.monochroom:hover {
          background: #595959; }

.block {
  background: var(--white);
  margin: 1rem;
  padding: 1rem; }
  .block .title {
    font-size: 2.5rem; }
    @media (min-width: 768px) {
      .block .title {
        font-size: 3.5rem; } }
  .block .subtitle {
    font-size: 2.2rem;
    color: var(--white); }

/*# sourceMappingURL=style.css.map */
