body {
    background: #F3FCE8;
    background: var(--background);
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    margin: 1em 0;
}

a {
    color: #01385D;
    color: var(--text);
    &:hover, &:focus, &:active {
        color: #F3D6EC;
        color: var(--tertiary);
    }
}