:root {
    --primary: #1c0000;
    --primary-light: #f5f5f5;
    --secondary: #ffffff;
    --available: #33a532;
    --unavailable: #fb122f;
}

[data-theme="dark"] {
    --primary: #ffffff;
    --secondary: #1c0000;
}

@font-face {
    font-family: 'Cinzel';
    src: url('~assets/fonts/CinzelDecorative-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('~assets/fonts/Lora-Regular.ttf') format('truetype');
}