:root {
    --black: #1c0000;
}

@font-face {
    font-family: 'Cinzel';
    src: url('~assets/fonts/CinzelDecorative-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('~assets/fonts/Lora-Regular.ttf') format('truetype');
}