body {
    --white: #ffffff;
    --background: #F3FCE8;
    --primary: #88C2DD;
    --secondary: rgba(136,194,221,0.27);
    --tertiary: #F3D6EC;
    --text: #01385D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', sans-serif;    
    font-weight: bold;
    margin: 0;
}

body, p, ul, button {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text, #01385D);
}

@mixin verticalCenter() {
    display: flex;
    align-items: center;
}

@mixin background($color) {
    background: $color;
    padding: 1rem;
}