.block {
    background-color: var(--white, #ffffff);
    margin: 1rem;
    padding: 1rem;
    .title {
        font-size: 2.5rem;
        @media (min-width: 768px) {
            font-size: 3.5rem;
        }
    }
    
    .subtitle {
        font-size: 2.2rem;
        color: var(--white, #ffffff);
    }
}