.blog-article {
  margin-bottom: 5em;
  code {
    font-size: 1rem;
    background-color: var(--primary-light);
    overflow-x: auto;

    pre & {
      background-color: transparent;
    }
  }

  pre {
    background-color: var(--primary-light);
    padding: 1em 1.5em;
    border-left: 2px solid var(--primary);
    margin-bottom: 1em;
    overflow-x: auto;
  }

  h2, h3 {
    margin-top: 1em;
    margin-bottom: .5em;
  }
}