.settings {
    position: absolute;
    top: 5px;
    right: 0;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.2);
    @media (min-width:768px) {
        top: 60px;
    }
    .label {
        padding: 15px;
        margin-left: -50px;
        background: var(--white);
        align-self: flex-start;
        box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.2);
        @media (min-width:768px) {
            margin-left: -60px;
        }
    }
    .fa-cog {
        transition: color 0.5s ease;
        cursor: pointer;
        font-size: 1.3em;
        @media (min-width:768px) {
            font-size: 2em;
        }
        &:hover {
            color: var(--primary);
        }
    }
    .options {
        display: none;
        padding: 15px;
        white-space: nowrap;
        h2 {
            margin: 0;
        }
        button {
            display: block;
            border: 0;
            padding: 10px;
            margin: 8px 0;
            width: 100%;
            color: var(--white);
            cursor: pointer;
            transition: all .5s ease-in-out;
            &:focus {
                outline: 0;
            }
            &:first-of-type {
                margin-top: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &.startrek {
                background: #9999FF;
                border-bottom: 3px solid #8080ff;
                border-left: 3px solid #8080ff;
                &:hover {
                    background: #8080ff;
                }
            }
            &.pastel {
                background: #88C2DD;
                border-bottom: 3px solid #74b8d8;
                border-left: 3px solid #74b8d8;
                &:hover {
                    background: #74b8d8;
                }
            }
            &.monochroom {
                background: #686868;
                border-bottom: 3px solid #595959;
                border-left: 3px solid #595959;
                &:hover {
                    background: #595959;
                }
            }
        }
    }
}